@mixin body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: #f7f7f7;
}

@mixin main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@mixin gameButton {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #ffff;
}
