@import "./reset";
@import "./mixins";

body {
  @include body;
}

main {
  @include main;
}

.main {
  @include mainBorder;
  @include mainToButton;
}

h1 {
  @include h1;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  button {
    @include gameButton;
  }
  :hover {
    background: #b6bfc4;
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
}
