@mixin body {
    background-color: $bg-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@mixin contaier {
    background-color: #282c34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}


@mixin button {
    padding: 10px;
    background-color: $button-bg;
    border: none;
    color: $text-color;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}