.container {
    @include center-content;
    flex-direction: column;
    height: 100vh;
}

form {
    background-color: lighten($background-color, 10%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background-color: darken($background-color, 5%);
        color: $text-color;
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $secondary-color;
        color: $text-color;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: darken($secondary-color, 10%);
        }
    }
}
